* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  display: flex;
  padding: 50px;
}

.wrapper {
  display: flex;
  padding: 10px;
  align-items: center;
  border-radius: 20px;
  background: #ff844c;
}
