* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  display: flex;
  padding: 50px;
}

.wrapper {
  display: flex;
  padding: 10px;
  align-items: center;
  border-radius: 20px;
  background: #ff844c;
}

.day {
  display: flex;
  padding: 18px;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  border-radius: 24px;
}

h1 {
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 35px;
  font-weight: 400;
  line-height: 24px; /* 68.571% */
  text-transform: uppercase;
}

p {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Open Sans";
  font-size: 23px;
  font-weight: 400;
  line-height: 24px; /* 104.348% */
}

.current.day {
  background: #fff;
}

.current h1 {
  color: black;
}

.current p {
  color: rgba(0, 0, 0, 0.6);
}
